@import url('https://fonts.googleapis.com/css?family=K2D');

:root {
  --yellow: #e7b731;
  --yellow-dark: #dca715;
  --blue: #4d7bd0;
  --blue-dark: #3967bb;
  --green: #419353;
  --green-dark: #2b803e;
  --red: #d7493b;
  --red-dark: #c7382a;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after { box-sizing: border-box; }
body {
  font-family: 'K2D', sans-serif;
  color: #333;
  background-color: #f5f5f5;
}
a {
  color: var(--blue);
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
i { font-style: italic; }
strong { font-weight: bold; }
.btn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  box-shadow: 4px 4px 0 rgba(0, 0, 0, .1);
  color: #fff;
  background-color: #aaa;
  cursor: pointer;
  transition: all .1s;
}
.btn:focus { outline: none; }
.btn-sm {
  padding: 5px 10px;
  font-size: 14px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
}
.btn-yellow { background-color: var(--yellow); }
.btn-yellow:hover { background-color: var(--yellow-dark); }
.btn-blue { background-color: var(--blue); }
.btn-blue:hover { background-color: var(--blue-dark); }
.btn-green { background-color: var(--green); }
.btn-green:hover { background-color: var(--green-dark); }
.btn-red { background-color: var(--red); }
.btn-red:hover { background-color: var(--red-dark); }
.container { padding: 0 12px; }
.app { text-align: center; }
.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: white;
  background: url(../../assets/images/pattern.png) center repeat #f5f5f5;
  background-size: auto 100%;
}
.main { padding-bottom: 40px; }
.app-title {
  font-size: 24px;
  color: var(--yellow);
  text-shadow: 1px 1px 1px #fff;
}
.nav-list {
  display: flex;
  justify-content: center;
  margin: 20px auto 60px;
}
.nav-list a {
  padding: 5px 20px;
  color: #666;
  text-shadow: 1px 1px 1px #fff;
  transition: color .1s;
}
.nav-list a:hover,
.nav-list .active { color: var(--blue); }
.game-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.end-game-btn, .continue-btn { min-width: 120px; }
.contender { max-width: calc(50% - 10px); }
.player { margin-right: 10px; }
.computer { margin-left: 10px; }
.score {
  margin-bottom: 10px;
  position: relative;
}
.score-number {
  margin: 0 5px;
  font-size: 24px;
  font-weight: bold;
}
.choice-wrapper {
  width: 138px;
  height: 244px;
}
.player-options {
  display: flex;
  justify-content: center;
}
.player-options li:nth-child(2) { margin: 0 20px; }
.player-options .btn { min-width: 80px; }
.correct, .not-correct {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  font-size: 32px;
}
.correct { color: var(--green) }
.not-correct { color: var(--red) }
.history-score {
  font-size: 18px;
  margin-bottom: 30px;
}
.history-score li {
  display: inline-block;
  margin: 0 15px;
}
.history-list li { margin-bottom: 15px; }
.history-list li > span, .history-list li > strong {
  display: block;
  min-width: 140px;
  margin: 5px 10px;
}
.round-winner { font-weight: bold; }
.celebration-text { font-size: 24px; }
.celebration-text + img { margin-top: 10px; }

@media (min-width: 768px) {
  .app-header { height: 120px; }
  .app-title { font-size: 32px; }
  .buttons-wrapper .btn { width: 300px; }
  .player { margin-right: 20px; }
  .computer { margin-left: 20px; }
  .history-list li { margin-bottom: 10px; }
  .history-list li > span, .history-list li > strong {
    display: inline-block;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .app-header { height: 140px; }
  .app-title { font-size: 40px; }
  .player { margin-right: 40px; }
  .computer { margin-left: 40px; }
  .player-options .btn, .end-game-btn, .continue-btn {
    padding: 10px 20px;
    min-width: 100px;
    font-size: 15px;
  }
  .end-game-btn, .continue-btn { min-width: 140px; }
  .game-wrapper {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .score { margin-bottom: 20px; }
}
